body {
  margin: 0;
  padding: 0;
  background-color: rgb(24, 24, 24);
  color: white;
}

.app-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.search input,
.search button {
  background-color: transparent;
  color: gray;
  border: solid 1px gray;
  outline: none;
  padding: 0.5em;
}

.search input:hover,
.search button:hover {
  border-color: rgb(173, 173, 173);
}

.search button:active {
  color: white;
}

img {
  height: 300px;
}

.movie-app > .row {
  /* overflow-x: auto; */
  flex-wrap: wrap;
}
